name: docker build and deploy

on:
  push:
    branches: "master"
    paths-ignore:
      - 'docs/**'
      - '.github/**'

jobs:
  deploy-docker:
    runs-on: ubuntu-latest
    name: build and deploy
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        timeout-minutes: 1
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        timeout-minutes: 1
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Packages
        timeout-minutes: 5
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        timeout-minutes: 30
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/johang/sd-card-images:latest
