name: docker build and deploy

on:
  push:
    # Always except for irrelevant changes
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '*.csv'
  pull_request:
    # Only for Dockerfile changes
    paths:
      - 'Dockerfile'
  schedule:
    # Weekly rebuild every Monday at 00:00 UTC
    - cron: '0 0 * * 1'

jobs:
  deploy-docker:
    runs-on: ubuntu-latest
    name: build and deploy
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        timeout-minutes: 1
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        timeout-minutes: 1
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Packages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        timeout-minutes: 5
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build/push
        timeout-minutes: 30
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
          tags: ghcr.io/johang/sd-card-images:latest
